.app {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.mandato {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: #444
}
.mandato li {
    display: block;
    top: -10px;
}
.mandato li:first-child {
    top: 0;
}

.player {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.logo {
    position: absolute;
    right: 5vw;
    top: 0vw;
    width: 10vw;
}

.senador {
    position: absolute;
    bottom: 5.5vw;
    left: 19vw;
    width: 75vw;
    height: 12vh;
}

.senador * {
    position: relative;
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 4.6vh;
    background: white;
}

.title * {
    flex: 1;
}

.senador h1 {
    margin: 0;
    text-align: left;
    font-size: 0.9em;
    padding: 0 20px;
    flex: 2;
    margin: auto 0;
}
.voto {
    font-size: 0.8em;
}

.voto.afavor { background-color: #28b463 }
.voto.encontra { background-color: #e74c3c }
.voto.noconfirmados { background-color: #f7dc6f }
.voto.abstencion { background-color: #b2babb }

.details {
    margin: 0;
    padding: 0;
    background: #5af;
    height: 100%;
}
